* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}

h1 {
  font-family: "Aleo", serif;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}
h2 {
  font-family: "Red Hat Text", sans-serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 53px;
  color: #f2785c;
}

@media (max-width: 650px) {
  h2 {
    font-size: 14px;
    line-height: 19px;
  }
}

h3 {
  font-family: "Aleo", serif;
  font-size: 35px;
  font-weight: 400;
  line-height: 42px;
  color: #0d606f;
}

@media (max-width: 650px) {
  h3 {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
  }
}

.background__wrapper {
  margin: 0 auto;
  max-width: 1440px;
  overflow: hidden;
  /* background-image: url(../img/bg-bottom.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom; */
}

.header__wrapper {
  background-image: url(../img/bg-top.jpg);
  background-repeat: no-repeat;
  min-height: 765px;
  position: relative;
}

@media (max-width: 390px) {
  .header__wrapper {
    background-image: url(../img/mobile/bg-top.jpg);
    max-height: 251px;
    min-height: 0px;
    /* ? */
  }
}

.footer__wrapper {
  background-image: url(../img/bg-bottom.jpg);
  background-repeat: no-repeat;
  background-position: top 92px left 0px;
  min-height: 1331px;
}
@media (max-width: 390px) {
  .footer__wrapper {
    background-image: url(../img/mobile/bg-bottom.jpg);
    background-position: top 29px left 0px;
    min-height: 0px;
    /* ? */
  }
}
.header {
  min-height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 119px 0px 120px;
  background-color: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);

  color: white;
}
.header__logo-line {
  font-family: "Magra", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  padding-bottom: 2px;
  display: flex;
}
@media (max-width: 1150px) {
  .header {
    padding: 45px 15px 0 15px;
  }
}
@media (max-width: 390px) {
  .header {
    background-color: transparent;
    box-shadow: none;
    min-height: 0px;
  }
  .header__logo-line {
    padding-bottom: 0px;
  }
}

.logo-object {
  margin-right: 6px;
  display: block;
}

@media (max-width: 1150px) {
  .logo-object {
    margin-right: 0px;
  }
}

.header__navigation {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21.17px;
}
.navigation {
  display: flex;
  margin-left: 12px;
  padding: 2px;
}

@media (max-width: 1150px) {
  .navigation {
    padding: 0px;
    margin-left: 0px;
  }
  .header__navigation {
    font-weight: 500;
    font-size: 11px;
    line-height: 14px;
  }
}

.navigation__link {
  margin-right: 42px;
}
@media (max-width: 650px) {
  .navigation__link {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.navigation__a {
  color: white;
  text-decoration: none;
}
.button {
  background-color: #0d606f;
  color: white;
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  box-shadow: none;
}

.button:hover {
  transition: 0.3s linear;
  background-color: #74c2cf;
}

.button:active {
  box-shadow: inset 0 0 0 5px #c5e2f0;
}

.button__header {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  padding-right: 31px;
}
.preview {
  width: 100%;
  height: 100%;
}
.preview__content {
  max-width: 892px;
  height: 389px;
  margin: 32px 0px 0px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 1150px) {
  .preview__content {
    padding: 65px 15px 61px;
    margin: 0px;
    height: auto;
  }
}

.preview__content p {
  font-family: "Aleo", serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  margin-bottom: 14px;
}

.preview__search {
  color: #f2785c;
  position: relative;
}
.preview__input {
  width: 100%;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  border: none;
  padding-left: 41px;
  font-family: "Aleo", serif;
  font-style: italic;
  font-size: 24px;
  color: #f2785c;
}

.preview__input::placeholder {
  font-family: "Aleo", serif;
  font-style: italic;
  font-size: 24px;
  color: #f2785c;
}

@media (max-width: 950px) {
  .preview__input {
    height: 48px;
    padding-left: 16.5px;
  }
  .preview__input::placeholder {
    font-size: 14px;
    line-height: 17px;
  }
}

.preview__button {
  height: 59px;
  width: 228px;
  font-size: 24px;
  line-height: 32px;
  position: absolute;
  top: 18px;
  right: 18px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
}

.steps {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 950px) {
  .steps {
    margin-top: 20px;
  }
}

.layout-3-column {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0px 131px;
}
@media (max-width: 1150px) {
  .layout-3-column {
    margin-top: 20px;
    padding: 0px 15px;
  }
}

.steps__step {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  /* width: 34%; */
  font-family: "Aleo", serif;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}
@media (max-width: 1150px) {
  .steps__step {
    gap: 20px;
    width: 25%;
    font-size: 10px;
    line-height: 12px;
  }
  .middle-step-1440 {
    width: 34%;
  }
  .step-1-mobile {
    display: flex;
    align-items: flex-start;
  }
  .step-3-mobile {
    display: flex;
    align-items: flex-end;
    text-align: right;
  }
}

@media (width: 1440px) {
  .middle-step-1440 {
    margin-left: 72px;
  }
}

.steps__icon {
  width: 100px;
  height: 100px;
  background: #f2785c;
  border-radius: 16px;
  display: flex;
  justify-content: center;
}
@media (max-width: 1150px) {
  .steps__icon {
    width: 70px;
    height: 70px;
  }
}

.destination {
  margin-top: 97px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1150px) {
  .destination {
    margin-top: 20px;
  }
}

.destination__slider {
  width: 100%;
  height: 100%;
  margin: 46px 0 10px;
  display: flex;
  justify-content: center;
  gap: 60px;
  overflow: hidden;
}
@media (max-width: 1150px) {
  .destination__slider {
    padding: 0px 15px;
    position: relative;
    margin-top: 20px;
    justify-content: left;
  }
}

.destination-1-slider {
  position: relative;
}

.destination-1-photo {
  border-radius: 16px;
  display: block;
}

.destianation__country {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;
  position: absolute;
  bottom: 40px;
  left: 15px;
}

.destination__dots {
  margin-top: 24px;
  margin-bottom: 40px;
  display: flex;
  gap: 10px;
}

.destination__dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  background: rgba(242, 120, 92, 0.5);
}

.destination__dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  background: rgba(242, 120, 92, 0.5);
}

.selected__dot {
  background: #f2785c;
}

.arrow__button {
  width: 228px;
  font-size: 24px;
  display: flex;
  align-items: flex-end;
  gap: 12.5px;
  padding: 18.25px 31px 18.25px 33.5px;
  box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08),
    0px 2px 3px rgba(13, 96, 111, 0.16);
}
/*  */
.stories {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

@media (max-width: 1150px) {
  .stories {
    margin-top: 20px;
  }
}

.stories__layout {
  margin-top: 39px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 1270px;
  background: rgba(255, 255, 255, 0.7);
  padding: 40px 120px;
}

@media (max-width: 1150px) {
  .stories__layout {
    padding: 10px 15px 13px 15px;
    height: auto;
    margin-top: 10px;
    gap: 15px;
  }
}

.stories__item {
  display: flex;
  gap: 40px;
  max-height: 250px;
}

@media (max-width: 650px) {
  .stories__item {
    gap: 10px;
    max-height: 130px;
  }
  .stories__description {
    padding-top: 5px;
  }
}
.stories__description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.stories_photo {
  border-radius: 16px;
  filter: drop-shadow(0px 4px 4px #0d606f);
}

.stories__description-text {
  margin-top: 24px;
  font-family: "Aleo", serif;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}

@media (max-width: 650px) {
  .stories__description-text {
    font-size: 9px;
    line-height: 11px;
    margin-top: 10px;

    -webkit-line-clamp: 8; /* Число отображаемых строк */
    display: -webkit-box; /* Включаем флексбоксы */
    -webkit-box-orient: vertical; /* Вертикальная ориентация */
    overflow: hidden;
  }
}

.stories__description-link {
  font-family: "Aleo", serif;
  font-size: 20px;

  font-weight: 700;
  color: #0d606f;
}

@media (max-width: 650px) {
  .stories__description-link {
    font-size: 9px;
    line-height: 11px;
  }
}

.stories__button {
  margin-top: 9px;
  margin-left: 4px;
  display: flex;
  justify-content: center;
}

@media (max-width: 650px) {
  .stories__button {
    margin-top: -5px;
    margin-left: 0px;
  }
}
/*  */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 61px;
  width: 100%;
}
@media (max-width: 650px) {
  .footer {
    height: 65px;
  }
}

.footer__layout {
  width: 33.3%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 9px;
}
.footer__rights {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
}

.footer__social {
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 21.4px;
}

@media (max-width: 1150px) {
  .footer__social {
    margin-left: 0px;
  }
}

.footer__social-item a img {
  display: block;
}

.show-on-mobile {
  display: none;
}

@media (max-width: 1150px) {
  .hide-on-mobile {
    display: none;
  }

  .show-on-mobile {
    display: block;
  }
}

.show-on-650 {
  display: none;
}

@media (max-width: 650px) {
  .hide-on-650 {
    display: none;
  }
  .show-on-650 {
    display: block;
  }
}
@media (max-width: 950px) {
  .button {
    padding: 7.5px 9px;
    font-size: 11px;
    line-height: 15px;
  }
  .arrow__button {
    width: 92px;
    height: 30px;
    align-items: center;
    gap: 6.6px;
    padding-left: 13px;
  }
  .preview__button {
    width: 92px;
    height: 30px;
    top: 9px;
    right: 9px;
  }
}

@media (max-width: 1150px) {
  .destination__dots {
    position: absolute;
    bottom: 12px;
    left: calc(50% - 18px);

    display: flex;
    gap: 6px;
    margin: 0px;
  }
  .destination__dot {
    width: 8px;
    height: 8px;
  }
  .destianation__country {
    font-size: 20px;
    line-height: 26px;
    top: 8px;
    left: 15px;
  }
  .hide-on-mobile {
    display: none;
  }
}

.arrows {
  position: absolute;
  top: 85px;
  margin: 5px;
  display: flex;
  gap: 290px;
}
@media (min-width: 1150px) {
  .arrows {
    display: none;
  }
}

.burger-menu {
  width: 165px;
  height: 250px;

  background: #f2785c;
  box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
  border-radius: 10px;
  position: absolute;
  top: 0px;
  right: -100%;
  z-index: 3;
  transition: all 0.6s;
}
.active {
  right: 0px;
}

.burger-cross {
  padding: 8px 0px 6px 8px;
}

.burger-navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px 15px 0 0;
  gap: 10px;
}

.burger-link {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
}

.show-burger {
  margin-top: -3px;
  padding-right: 5px;
  padding-bottom: 3px;
}

.show-on-390 {
  display: none;
}

@media (max-width: 390px) {
  .hide-on-390 {
    display: none;
  }
  .show-on-390 {
    display: block;
  }
}
